[Unit]
Description=Gunicorn instance to serve ASU
After=network.target

[Service]
User=debian
Group=debian
WorkingDirectory=/home/debian/asu/
Environment="BRANCHES_FILE=./branches.yml"
ExecStart=/home/debian/.local/bin/gunicorn \
    --bind 127.0.0.1:8000 \
    --extra-reload-file "$BRANCHES_FILE" \
    --reload \
    --umask 007 \
    --workers 3 \
    "asu.asu:create_app()"

[Install]
WantedBy=multi-user.target

