:80 {
	root * /site/
	file_server browse
	header Access-Control-Allow-Methods "POST, GET, OPTIONS"
	header Access-Control-Allow-Headers "*"
	header Access-Control-Allow-Origin "*"
	reverse_proxy /api/* server:8000
}
