(cors) {
        @origin header Origin {args.0}
        header @origin Access-Control-Allow-Origin "{args.0}"
        header @origin Access-Control-Request-Method GET
}

asu.aparcar.org {
        reverse_proxy /api/* localhost:8000
        root * /home/debian/asu/public/
        file_server browse
        import cors asu.aparcar.org
}
