asu.aparcar.org {
	root * /home/debian/asu/public/
	file_server browse
	header Access-Control-Allow-Methods "POST, GET, OPTIONS"
	header Access-Control-Allow-Headers "*"
	header Access-Control-Allow-Origin "*"
	reverse_proxy /api/* localhost:8000
}
