[Unit]
Description=RQ Worker Number %i
After=network.target

[Service]
User=debian
Group=debian
Type=simple
WorkingDirectory=/home/debian/asu/
Environment=LANG=en_US.UTF-8
Environment=LC_ALL=en_US.UTF-8
Environment=LC_LANG=en_US.UTF-8
#Environment=http_proxy=http://localhost:3128
ExecStart=/home/debian/.local/bin/rqworker
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true
Restart=always

[Install]
WantedBy=multi-user.target
