[Unit]
Description=ASU Worker Number %i
After=network.target

[Service]
User=debian
Group=debian
Type=simple
WorkingDirectory=/home/debian/asu/worker%i/
Environment=LANG=en_US.UTF-8
Environment=LC_ALL=en_US.UTF-8
Environment=LC_LANG=en_US.UTF-8
ExecStart=/home/debian/.local/bin/rqworker --name asu-worker-%i
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true
Restart=always

[Install]
WantedBy=multi-user.target
