var/
store/
site/
redis/
public/
squid/
poetry.lock
uv.lock
.uv/
json/
instance/
htmlcov/
dist/
coverage.xml
cache/
asu.egg-info/
*$py.class
*.swp
*.sig
*.sec
*.py[cod]
*.pub
.vscode/
.venv/
.env
.DS_Store
.direnv/
.coverage.*
.coverage
**/__pycache__/
*.pyc
