**/__pycache__/
*.log
*.pyc
*.swp
.coverage
.vagrant/
ansible/*.retry
ansible/ansible.cfg
ansible/host_vars/
ansible/hosts
asu.egg-info/
build/
config.yml
dist/
distributions/
download/
keys/
tests/
updater/
worker/
