*$py.class
*.pub
*.py[cod]
*.sec
*.sig
*.swp
.DS_Store
.coverage
.coverage.*
.direnv/
.venv/
.vscode/
__pycache__/
asu.egg-info/
asu/__pycache__/
cache/
config.py
coverage.xml
dist/
htmlcov/
instance/
json/
poetry.lock
public/
redis/
site/
store/
var/
