version: '3.1'

services:
  nginx:
    image: nginx:alpine
    volumes:
      - "./contrib/nginx-asu-server.conf:/etc/nginx/conf.d/default.conf:ro"
      - "./download/:/var/cache/asu/download/:ro"
      - "./chef/:/usr/share/nginx/html:ro"
    ports:
      - 8080:80
    depends_on:
      - server
      - worker

  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: changeme
      POSTGRES_DB: asu
      POSTGRES_USER: asu
    volumes:
      - "./asu/utils/tables.sql:/docker-entrypoint-initdb.d/tables.sql"

  server:
    image: aparcar/asu
    environment:
      - LC_ALL=C.UTF-8
      - LANG=C.UTF-8
      - FLASK_APP=asu
      - FLASK_DEBUG=1
    command: sh -c 'flask loaddb && gunicorn3 -b 0.0.0.0:5000 --reload asu:app'
    volumes:
      - "./:/opt/asu/"
      - "./download/:/var/cache/asu/download/"
      - "./config.yml:/etc/asu/config.yml"
    ports:
      - 5000
    depends_on:
      - db

  worker:
    image: aparcar/asu
    environment:
      - FLASK_APP=asu
      - LC_ALL=C.UTF-8
      - LANG=C.UTF-8
    command: sh -c 'flask run-worker'
    volumes:
      - "./:/opt/asu/"
      - "./config.yml:/etc/asu/config.yml"
      - "./download/:/var/cache/asu/download/"
      - "./worker/:/var/lib/asu/worker/"
      - "./updater/:/var/lib/asu/updater/"
    depends_on:
      - db
