[tool.poetry]
name = "asu"
version = "0.0.0"
description = "A firmware on demand server for OpenWrt based distributions"
authors = ["Paul Spooren <mail@aparcar.org>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
fastapi = { extras = ["standard"], version = "^0.115.5" }
pynacl = "^1.5.0"
requests = "^2.32.3"
podman = "^5.1.0"
redis = "^5.2.0"
pydantic-settings = "^2.6.1"
rq = "^2.0.0"
uvicorn = "^0.32.1"
fastapi-cache2 = "^0.2.2"
httpx = "^0.27.0"

[tool.poetry.group.dev.dependencies]
pytest = "^8.3.2"
ruff = "^0.7.3"
coverage = "^7.6.4"
isort = "^5.13.2"
fakeredis = "^2.26.1"


[tool.coverage.run]
dynamic_context = "test_function"

[tool.coverage.report]
precision       = 1

[tool.coverage.html]
show_contexts   = "true"
title           = "ASU Server Regression Test Coverage"


[tool.pytest.ini_options]
testpaths = [
    "tests"
]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
