[tool.poetry]
name = "asu"
version = "0.0.0"
description = "An image on demand server for OpenWrt based distributions"
authors = ["Paul Spooren <mail@aparcar.org>"]
license = "GPL-2.0"
readme = "README.md"
include = ["asu/branches.yml"]

[tool.poetry.dependencies]
python = "^3.11"
PyNaCl = "^1.5.0"
requests = "^2.28.2"
rq = "^1.13.0"
connexion = {extras = ["swagger-ui"], version = "^2.14.2"}
gunicorn = ">=20.1,<23.0"
podman = ">=4.4.1,<6.0.0"


[tool.poetry.group.dev.dependencies]
ruff = ">=0.2.2,<0.5.0"
pytest = "^8.0.0"
pytest-httpserver = "^1.0.6"
fakeredis = "^2.21.0"
coverage = "^7.4.1"
isort = "^5.13.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
