[tool.poetry]
name = "asu"
version = "0.0.0"
description = "A firmware on demand server for OpenWrt based distributions"
authors = ["Paul Spooren <mail@aparcar.org>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
fastapi = { extras = ["standard"], version = "^0.112.1" }
pynacl = "^1.5.0"
requests = "^2.32.3"
podman = "^5.0.0"
redis = "^5.0.8"
pydantic-settings = "^2.4.0"
rq = "^1.16.2"
uvicorn = "^0.30.6"
fastapi-cache2 = "^0.2.2"
httpx = "^0.27.0"

[tool.poetry.group.dev.dependencies]
pytest = "^8.3.2"
ruff = "^0.6.4"
coverage = "^7.6.1"
isort = "^5.13.2"
fakeredis = { git = "https://github.com/cunla/fakeredis-py.git", rev = "df84a0d" }


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
