[Unit]
Description=ASU worker

[Service]
User={{ server_user }}
Type=simple
PIDFile=/run/asu-worker.pid
WorkingDirectory={{ server_dir }}
ExecStart=/usr/bin/python3 worker.py
Restart=always

[Install]
WantedBy=multi-user.target
