[Unit]
Description=Attended Sysupgrade Server
After=nginx.target

[Service]
User={{ server_user }}
Type=simple
PIDFile=/run/update-server.pid
ExecStart=/usr/bin/gunicorn3 asu:app
Restart=always

[Install]
WantedBy=multi-user.target
