[Unit]
Description=Attended Sysupgrade Worker

[Service]
User={{ server_user }}
Type=simple
PIDFile=/run/asu-worker.pid
Environment=FLASK_APP=asu
ExecStart=/usr/bin/python3 -m flask run-worker
Restart=always

[Install]
WantedBy=multi-user.target
