[Unit]
Description=update worker for lede/openwrt/libremesh
After=nginx.target

[Service]
User={{ worker_user }}
Type=simple
PIDFile=/run/update-worker.pid
WorkingDirectory={{ worker_folder }}
ExecStart=/usr/bin/python3 worker.py
Restart=always

[Install]
WantedBy=multi-user.target
