{% set navigation_bar = [
('/', 'root_path', 'Start'),
('/images', 'images', 'Images'),
('/imagebuilder', 'imagebuilder', 'Online Imagebuilder'),
('/supported', 'supported', 'Supported'),
('/contact', 'contact', 'Contact')
] -%}
<!doctype html>
<html lang="en">
	<head>
		<title>LEDE Update Server</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="{{ request.root }}/static/bootstrap.min.css">
		<link rel="stylesheet" href="{{ request.root }}/static/octicons.min.css">
	</head>
	<body>
		<nav class="navbar navbar-dark bg-dark navbar-expand-sm">
			<a class="navbar-brand" href="/">BETA LEDE Update Server</a>
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					{% for href, id, caption in navigation_bar %}
					<li{% if id == request.endpoint %} class="active"{% endif %}>
						<a class="nav-link" href="{{ href|e }}">{{ caption|e }}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</nav>
		<div class="container">
			<p></p>
