{% include 'header.html' %}
<h2>Created images</h2>
<div class="alert alert-warning">
	  <strong>Warning!</strong> All snapshots builds are deleted at 00:00 UTC.
</div>
<table class="table table-striped">
	<tr>
		<th>Distro</th>
		<th>Release</th>
		<th>Model</th>
		<th><a href="https://github.com/libremesh/network-profiles">Network profile</a></th>
		<th>Build date</th>
		<th>Size</th>
		<th></th>
		<th></th>
	</tr>
	{% for id, image_hash, distro, release, model, manifest, network_profile, build_date, file_path, file_name, filesize in images %}
	<tr>
		<td>{{ distro }}</td>
		<td>{{ release }}</td>
		<td>{{ model }}</td>
		<td>{{ network_profile }}</td>
		<td>{{ build_date.strftime('%Y-%m-%d') }}</td>
		<td>{{ filesize | filesizeformat }}</td>
		<td>
			<a href="static/{{ file_path }}{{ file_name }}.log" title="build log"><span class="octicon octicon-file-text"></span></a>
			<a href="static/{{ file_path }}{{ file_name }}.sig" title="signature"><span class="octicon octicon-key"></span></a>
			<a href="manifest-info/{{ manifest }}" title="installed packages"><span class="octicon octicon-package"></span></a>
			<a href="static/{{ file_path }}" title="created files"><span class="octicon octicon-list-unordered"></span></a>
		</td>
		<td><a href="static/{{ file_path }}{{ file_name }}" title="download image"><span class="octicon octicon-desktop-download"></span></a></td>
	</tr>
	{% endfor %}
</table>
{% include 'footer.html' %}
