{% include 'header.html' %}
				<style>
					.advanced_view {
						display: none;
					}
				</style>
				<div style="display: none" id="info_box" class="alert alert-success"></div>
				<div style="display: none" id="error_box" class="alert alert-danger"></div>
				<div id="files_box" class="alert alert-info advanced_view">Advanced view</div>
				<form name="request_form" id="request_form" action="/image_request" method="get">
					<p>
					Distribution:
					<select id="distro" name="distro" onchange="distro_changed();"></select>
					</p>
					<p>
					Release:
					<select id="release" name="release"></select>
					</p>
					<p>
					Router Model: <input type="text" id="search_device" onkeyup="search_delayed()" placeholder="Search for device...">
					</p>
					<p>
					<select id="profile" name="profile" onchange="profile_changed();">
						<option value="" selected>Start typing</option>
					</select>
					</p>
					<div id="lime_config" style="display: none;">
						<p>
						<a href="https://github.com/libremesh/network-profiles/">Network Profile:</a>
						<select name="network_profile">
							<option value="" selected>None</option></select>
						</p>
						<p>
						LibreMesh Flavor:
						<select id="flavor" name="flavor" onchange="set_packages_flavor();"></select>
						</p>
					</div>
					<div class="advanced_view">
						<p>
						<a href="#" onclick="edit_packages();this.style='display: none;';">Edit Packages</a>
						</p>
						<div id="edit_packages_div" style="display: none;">
							<h5>Packages:</h5>
							<p>
							<textarea id="edit_packages" name="edit_packages" rows=20 style="width: 100%"></textarea>
							</p>
						</div>
					</div>
					<p>
					<input type="button" value="Create image" onclick="create()">
					</p>
					<p>
					<input onclick="toggle_advanced_view()" type="checkbox" name="advanced_view">Advanced view<br>
					</p>
				</form>
				<div id="info_device" class="alert alert-secondary advanced_view">Extra device information</div>
				<script src="static/flavors.js"></script>
				<script src="static/imagebuilder.js"></script>
				<script>
					data = {};
					data.update_server = "{{ update_server }}"
					window.onload = bootstrap;
				</script>
{% include 'footer.html' %}
