{% include 'header.html' %}
<h2>Stats</h2>
<div class="row">
	<div class="col">
		<h3>Popular target/subtarget</h3>

		<table class="table">
			<tr>
				<th>Count</th>
				<th>Target</th>
				<th>Subtarget</th>
			</tr>
			{% for count, target, subtarget in popular_subtargets %}
			<tr>
				<td>{{ count }}</td>
				<td>{{ target }}</td>
				<td>{{ subtarget }}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
	<div class="col">
		<h3>Stats</h3>
		<table class="table">
			<tr>
				<td><b>Stored images</b></td>
				<td>{{ images_count }}</td>
			</tr>
			<tr>
				<td><b>Created images</b></td>
				<td>{{ images_total }}</td>
			</tr>
			<tr>
				<td><b>Active worker</b></td>
				<td>{{ worker_active }}</td>
			</tr>
			<tr>
				<td><b>Known packages</b></td>
				<td>{{ packages_count }}</td>
			</tr>
		</table>

	</div>
</div>
{% include 'footer.html' %}
