[Unit]
Description=flush all snapshot images

[Service]
User={{ update_server_user }}
Type=oneshot
WorkingDirectory={{ update_folder }}
ExecStart=/usr/bin/python3 cli.py -f

[Install]
WantedBy=multi-user.target
