[Unit]
Description=update server for lede/openwrt/libremesh
After=nginx.target

[Service]
User={{ update_server_user }}
Type=simple
PIDFile=/run/update-server.pid
WorkingDirectory={{ update_folder }}
ExecStart=/usr/bin/python3 server.py

[Install]
WantedBy=multi-user.target
