[Unit]
Description=update server for lede/openwrt/libremesh
After=nginx.target

[Service]
User={{ server_user }}
Type=simple
PIDFile=/run/update-server.pid
WorkingDirectory={{ server_dir }}
ExecStart=/usr/bin/gunicorn3 -w 20 -b 127.0.0.1:5000 server:app
Restart=always

[Install]
WantedBy=multi-user.target
