---
distro_alias: LibreMesh
parent_distro: lede
parent_release: "17.01.2"
releases:
  - "17.06"
releases_url: http://repo.libremesh.org/releases/
snapshots_url: http://snapshots.libremesh.org/snapshots/
repositories: |
  src/gz reboot_core http://downloads.lede-project.org/releases/{{ imagebuilder_release }}/targets/{{ target }}/{{ subtarget }}/packages
  src/gz reboot_base http://downloads.lede-project.org/releases/{{ imagebuilder_release }}/packages/{{ pkg_arch }}/base
  src/gz reboot_luci http://downloads.lede-project.org/releases/{{ imagebuilder_release }}/packages/{{ pkg_arch }}/luci
  src/gz reboot_packages http://downloads.lede-project.org/releases/{{ imagebuilder_release }}/packages/{{ pkg_arch }}/packages
  src/gz reboot_telephony http://downloads.lede-project.org/releases/{{ imagebuilder_release }}/packages/{{ pkg_arch }}/telephony
  src imagebuilder file:packages
  src/gz libremesh http://repo.libremesh.org/releases/{{ release }}/packages/{{ pkg_arch }}/libremesh
  src/gz libremap http://repo.libremesh.org/releases/{{ release }}/packages/{{ pkg_arch }}/libremap
  src/gz limeui http://repo.libremesh.org/releases/{{ release }}/packages/{{ pkg_arch }}/limeui
  src/gz lm_routing http://repo.libremesh.org/releases/{{ release }}/packages/{{ pkg_arch }}/routing
  src/gz lm_profiles http://repo.libremesh.org/network-profiles/
