name: Upload Docker Container
permissions:
  contents: read

on:
  push:
    branches:
      - main
  release:
    types:
      - created

jobs:
  deploy:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: openwrt/asu
          tags: |
            type=semver,pattern={{version}}
            latest

      - name: Login to DockerHub
        if: github.repository_owner == 'openwrt'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push ASU to Docker Hub
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Containerfile
          push: ${{ github.repository_owner == 'openwrt' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
