{% include 'header.html' %}
	<h2>About</h2>
	<p>Performing updates on routers is quite different from full Linux distribution. It's not sustainable to do release upgrade via a packet manager. Instead it's usually required to re-flash the system image. Depending on the installed packages an image rebuild may be to complex for regular users. A more convenient way is needed.</p>

	<p>This project implements an "image as a service" server which provides custom build images depending on installed packages. These updates are installable via a one-click installation in the web interface.</p>

	<p>The server side implementation uses established tools like LEDE's ImageBuilder to provide an generic approach for image creating. Eventually all devices of the OpenWrt/LEDE community including several community-mesh firmware projects should profit of this project.</p>

	<p>The project started via a GSoC project called <a href="https://summerofcode.withgoogle.com/projects/#5684958571003904">"LibreMesh Attended Sysupgrade"</a></p>

	<p>Currently the client side is implemented for <a href="https://github.com/openwrt/luci">LuCi1</a> while all JavaScript code should be compatible with the upcomming <a href="https://github.com/jow-/luci-ng">luci-ng</a>. To use this project on a client the new package <a href="https://github.com/openwrt/luci/tree/master/applications/luci-app-attendedsysupgrade">luci-app-attendedsysupgrade</a> (currently only in LEDE snapshots) is required.
	</p>

	<p>All server related code can be found in the current GitHub <a href="https://github.com/aparcar/gsoc17-attended-sysupgrade">repository</a> with additional information in the README</p>
<div class="row">
	<div class="col">
		<h3>Popular target/subtarget</h3>

		<table class="table">
			<tr>
				<th>Count</th>
				<th>Target</th>
				<th>Subtarget</th>
			</tr>
			{% for count, target, subtarget in popular_subtargets %}
			<tr>
				<td>{{ count }}</td>
				<td>{{ target }}</td>
				<td>{{ subtarget }}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
	<div class="col">
		<h3>Stats</h3>
		<table class="table">
			<tr>
				<td><b>Created images</b></td>
				<td>{{ images_count }}</td>
			</tr>
			<tr>
				<td><b>Active worker</b></td>
				<td>{{ worker_active }}</td>
			</tr>
			<tr>
				<td><b>Known packages</b></td>
				<td>{{ packages_count }}</td>
			</tr>
		</table>

	</div>
</div>

{% include 'footer.html' %}
